span {
    font-family: var(--barlow-font);
    font-weight: 550;
}

button {
    background-color: transparent;
    cursor: pointer;
}

#score-value {
    color: var(--dark-text);
    font-size: 50px;
}

#score-text {
    color: var(--score-text);
}

.grey-out-background {
    filter: grayscale(25%);
}

/* LAYOUT */

#app {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background: radial-gradient(hsl(214, 47%, 23%),hsl(237, 49%, 15%));
}

#main-header {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 2rem auto;
    padding: 1rem;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 10px;
}

#score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding-inline: 2rem;
}

#rules-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
    text-align: center;
    width: 30%;
    margin: auto;
    padding: 2rem;
    border-radius: 10px;
    background-color: #fff;
    z-index: 1;
}

#rules-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

#rules-modal img {
    width: 90%;
}

#rules-modal button {
    border: none;
}

footer {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

footer button {
    font-family: var(--barlow-font);
    border: 2px solid #fff;
    border-radius: 5px;
    padding: .5rem 2rem;
    color: #fff;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
    #main-header {
        width: 80%;
    }

    #main-header img {
        width: 50%;
    }

    #rules-modal {
        width: 70%;
    }

    footer {
        right: 50%;
        transform: translateX(50%);
    }
}