/* LAYOUT */

.container {
    position: relative;
    text-align: center;
    width: 70%;
    margin: 7rem auto 0 auto;
}

.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.outer-container:hover {
    cursor: pointer;
}

#paper-container {
    background-color: hsl(230, 89%, 62%);
    box-shadow: inset 0 -5px 0 1px #00f;
}

#scissors-container {
    background-color: hsl(39, 89%, 49%);
    box-shadow: inset 0 -5px 0 1px orange;    
}

#rock-container {
    background-color: hsl(349, 70%, 56%);
    box-shadow: inset 0 -5px 0 1px hsl(349, 71%, 52%);    
}

.inner-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: inset 0 5px 0 1px #ccc;    
}