<div class="container">
    <img id="triangle" src="../../../assets/bg-triangle.svg" alt="triangle">
    <div class="outer-container" id="paper-container">
        <div class="inner-circle">
            <img src="../../../assets/icon-paper.svg" alt="paper">
        </div>
    </div>
    <div class="outer-container" id="scissors-container">
        <div class="inner-circle">
            <img src="../../../assets/icon-scissors.svg" alt="scissors">
        </div>
    </div>
    <div class="outer-container" id="rock-container">
        <div class="inner-circle">
            <img src="../../../assets/icon-rock.svg" alt="rock">
        </div>
    </div>
</div>
